name: "Sphinx: Documentation Generator"

on:
    push:
        branches: [main]
        paths:
            - "docs/**"
            - "pyproject.toml"
            - ".github/workflows/sphinx-docs.yml"
        tags:
            - "v*.*.*" # optional: trigger on release tags

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
              with:
                  persist-credentials: true # Needed to push back to main

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: "3.11"

            - name: Clean old HTML docs
              run: |
                  rm -rf docs/_build/html/*

            - name: Build Sphinx HTML docs
              run: poetry run sphinx-build -b html docs sphinx-docs

            - name: Commit and push docs
              run: |
                  git config user.name "github-actions[bot]"
                  git config user.email "github-actions[bot]@users.noreply.github.c
