name: "Sphinx: Documentation Generator"

on:
    push:
        branches: [main]
        paths:
            - "docs/**"
            - "pyproject.toml"
            - ".github/workflows/sphinx-docs.yml"
        tags:
            - "v*.*.*" # optional: trigger on release tags

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
            - uses: actions/checkout@v4
              with:
                  persist-credentials: false

            - name: Build HTML
              uses: ammaraskar/sphinx-action@master

            - name: Upload artifacts
              uses: actions/upload-artifact@v4
              with:
                  name: html-docs
                  path: sphinx-docs/html/

            - name: Deploy
              if: github.ref == 'refs/heads/main'
              run: |
                  git config --global user.name "github-actions[bot]"
                  git config --global user.email "github-actions[bot]@users.noreply.github.com"
                  touch sphinx-docs/html/.nojekyll
                  git add sphinx-docs/html
                  git commit -m "Update Sphinx documentation" || echo "No changes to commit"
                  git push origin main
